body{
    margin: 0%; 
    background-image: url(../plaatjes/background.jpg);
    background-size: 100%;
    display: flex;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: grey
}

li{
    color: white;
    background-color: grey;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: darkred;
    color: white;
  }
  a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}